<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="template.css">
</head>
<body>
    <div class="grid-container">
        <div class="display">1+1=200</div>
        <div class="item-1">C</div>
        <div class="item-2">&divide</div>
        <div class="item-3">&times</div>
        <div class="item-4">DEL</div>
        <div class="item-5">7</div>
        <div class="item-6">8</div>
        <div class="item-7">9</div>
        <div class="item-8">&minus;</div>
        <div class="item-9">4</div>
        <div class="item-10">5</div>
        <div class="item-11">6</div>
        <div class="item-12">&plus;</div>
        <div class="item-13">1</div>
        <div class="item-14">2</div>
        <div class="item-15">3</div>
        <div class="item-16">&equals;</div>
        <div class="item-17">%</div>
        <div class="item-18">0</div>
        <div class="item-19">.</div>         
    </div>
    <div class="flex-container">
        <div class="flex-item">
            <button>Click Me</button>
        </div>
    </div>
    
</body>
</html>